body{
    background-image: url("blogs.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    /* background-color: gray; */

}
#sign
{
    border: 3px solid black;
    border-radius: 2rem 0 1.5rem 0;
    height:40rem;
    width: 65%;
    margin:1rem 0 0 18rem ;
    display: flex;
    justify-content: center;
    background-color: floralwhite;
   
   
}
.sign{
    border: 2px solid black;
    border-radius: 1.5rem;
    height:31rem;
    width: 50%;
    margin: 5rem 3rem 0 1rem;
}

.img{
    height:38rem;
    width: 80%;
    margin: 1rem 1rem 0 0;
}
.img img{
    height: 100%;
    width: 100%;
    border-radius: .5rem 2.5rem .5rem 2rem;

}
.name,.email,.password{
    display: inline-block;
    margin: 0rem 0rem 0rem 2rem;
    font-size: 1.3rem;
}

#name,#Password,#Email{
    width: 15rem;
    height: 1.5rem;
    font-size: 1rem;
}
#form{
    margin: 2rem 1rem 0 2.5rem;
}
.btn{
    margin: 2rem 0 0 5rem;
    border-radius: 5px;
    color: wheat;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
}
h1{
    margin: 2rem 0 0 5rem;
}
.login{
    margin: 1rem 3rem 0 0 ;
}
.login a{
    color: wheat;
background-color: black;
font-size: 1.5rem;
border-radius: 5px;
margin: 2rem 2rem 0 5.5rem;
text-decoration: none;
}