<% layout("/INCLUDE/boilerplate")%>
    <style>
        .Paragraph {
                width: 45rem;
                height: 26rem;
                margin: 1rem 0 0 2rem;
                font-size: 1.5rem;
                text-align: justify;
            }
    

        .title img {
            height: 25rem;
            margin: 1rem;
        }

        .One {
            display: flex;
            flex-wrap: nowrap;
            margin: 1rem;
        }
        .Paragraph1{
                width: 52rem;
                height: 26rem;
                margin: 2.5rem 2rem 0 0;
                font-size: 1.5rem;
                text-align: justify;
        }
       .title1 img {
        margin:3rem 0 0 1rem;
       }
        .Two{
            display: flex;
            flex-wrap: nowrap;
        }
        .written {
            margin: 1rem;
        }
        .written span{
            font-size: large;

        }
        
    </style>
     <h1>The Cricket Team Of India</h1>
    <div class="One">
        <div class="title">
           
            <img src="Indian Cricket.webp" class="img-fluid" alt="...">
        </div>
        <div class="Paragraph">
            <p>The India men's national cricket team represents India in men's international cricket. It is governed by
                the Board of Control for Cricket in India (BCCI),
                and is a Full Member of the International Cricket Council (ICC) with Test, One Day International (ODI)
                and Twenty20 International (T20I) status.
                India are the current Asian Champions and Twenty20 World Champions.[10]

                The team has played 581 Test matches, winning 180, losing 178, 222 draw and 1 tie.
               
                the Board of Control for Cricket in India (BCCI),
              

                India have played in each World Test Championship final, finishing runners-up in both (2021 and 2023).
            </p>
        </div>
    </div>

    <div class="Two">
        
        <div class="Paragraph1">
            <p>The India men's national cricket team represents India in men's international cricket. It is governed by
                the Board of Control for Cricket in India (BCCI),
                and is a Full Member of the International Cricket Council (ICC) with Test, One Day International (ODI)
                and Twenty20 International (T20I) status.
                India are the current Asian Champions and Twenty20 World Champions.[10]

                The team has played 581 Test matches, winning 180, losing 178, 222 draw and 1 tie.

                India have played in each World Test Championship final, finishing runners-up in both (2021 and 2023).
            </p>
        </div>
        <div class="title1">
            <img  src="I.webp" class="img-fluid" alt="...">
        </div>
    </div>
    <div class="written">
        <span>Written By: Aaditya</span>
    </div>