<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOaD MOTIVATION BLOG PAGE</title>
</head>


<body>
    
    <h1>UPLOAD MOTIVATION BLOG</h1>
    <form action="/motive" method="POST" enctype="multipart/form-data">
    <div class="upload">
        <div class="title">
            <label for="Title">TITLE: </label>
            <input type="text" name="Title" id="Title">
        </div>
        <hr>
        <hr>
        <div class="Image">
            <label for="Image">UPLOAD IMAGE: </label>
            <input type="file" name="Image" id="IMAGE" style="width: 35rem;"> 

        </div>
        <hr>
        <label for="Content1">CONTENT FOR PARA</label>
        <input type="text" name="Content1" >
        <hr>
        <label for="Content">CONTENT: </label>
        <div class="content">
            
            <textarea   type="text" name="Content" id="Content" style="width: 60rem; height: 20rem;"></textarea>
        </div>
        <hr>
        
        <hr>
        <div class="Image">
            <label for="Image1">UPLOAD IMAGE: </label>
            <input type="file" name="Image1" id="IMAGE1" style="width: 35rem;"> 

        </div>

        <label for="Contents">CONTENT: </label>
        <div class="content">
            
            <textarea   type="text" name="Contents" id="Contents" style="width: 60rem; height: 20rem;"></textarea>
        </div>
        <label for="Content2">CONTENT2: </label>
        <div class="content">
            
            <textarea   type="text" name="Content2" id="Content2" style="width: 60rem; height: 20rem;"></textarea>
        </div>
        <hr>
        <label for="Author">Written By: </label>
        <input type="text" name="Author" id="Author">
        <div class="btn ">
            <button >SUBMIT</button>
        </div>
    </div>
    </form>

</body>

</html>