<div class="footer text-center">
  <div class="card-header">
    FOOTER
  </div>
  <div class="foot">
    <div class="footer-Media">
      <span>Follow Links</span>
      <div class="contact-data">
        <a href="https://www.youtube.com/@Duckomemes592"> <i class="fa-brands fa-youtube"></i></i></a>
        <a href="https://www.instagram.com/__i.am__/"> <i class="fa-brands fa-instagram"></i></a>
        <a href=""> <i class="fa-brands fa-telegram"></i></i></a>
        <a href=""> <i class="fa-brands fa-facebook"></i></i></a>
      </div>
    </div>
    <div class="footer-contact">
      <span>Contact</span>
      <div class="contact-data">
        <span>8130424124</span>
        <span>aadityakuamr518@gmail.com</span>
      </div>
    </div>
    <div class="footer-About">
      <span>About</span>
      <div class="contact-data">
        <span>Sustainability</span>
        <span>Privacy Policy</span>
        <span>Terms</span>
        <span>Accessibility</span>
      </div>
    </div>
    <div class="footer-Help">
      <span>Resources</span>
      <div class="contact-data">
        <span>Support</span>
        <span>App Directory</span>
        <span>Developers & API</span>
        <span>Partners</span>
        <span>Events</span>
      </div>
    </div>
  </div>

  <div class="card-footer ">
    @Blog Blogger
  </div>
</div>

