<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="572.png" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " href="/">Home</a>
                <a class="nav-link " href="/blog/new" role="button">
                  Upload Blog
                </a>
            </div>
            <div class="navbar-log ms-auto"  >
                <%if(!user){%>
                  <a class="nav-link " href="/sign">Sign-Up</a>
                  <a class="nav-link " href="/login">Log-In</a>
                   <%}%>
                   <%if(user){%>
                  <a class="nav-link " href="/logout">Log-Out</a>
                  <%}%>
            </div>
            
    </div>
    
</div>
</nav>